<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>学生信息管理系统</title>
    <link rel="stylesheet" href="/static/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">正心全栈编程</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">最新活动</a></li>
            <li class="layui-nav-item layui-this"><a href="">核心编程</a></li>
            <li class="layui-nav-item"><a href="">爬虫开发</a></li>
            <li class="layui-nav-item"><a href="">数据分析</a></li>

            <li class="layui-nav-item">
                <a href="JavaScript:;">网站开发</a>
                <dl class="layui-nav-child">
                    <dd><a href="">前端基础</a></dd>
                    <dd><a href="">flask 框架</a></dd>
                    <dd><a href="">flask 项目</a></dd>
                </dl>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                {% if not is_login %}
                    <a href="/login">
                        登录
                    </a>
                {% else %}
                    <a href="javascript:;">
                        <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                        登录 / 正心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">个人中心</a></dd>
                        <dd><a href="javascript:;">设置</a></dd>
                        <dd><a href="javascript:;">退出</a></dd>
                    </dl>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<script src="/static/layui.js"></script>

##########

<div class="layui-container" style="margin-top: 80px;">
    <form class="layui-form layui-row layui-col-space16" style="margin: 20px 10px 20px">
        <div class="layui-col-md4">
            <div class="layui-input-wrap">
                <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                </div>
                <input type="text" name="name" value="" placeholder="请输入姓名" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-input-wrap">
                <input type="text" name="mobile" placeholder="请输入电话" lay-affix="clear" class="layui-input">
            </div>
        </div>
        <div class="layui-btn-container layui-col-xs12">
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="table-search">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </form>
</div>

<div class="layui-container" >
    <table class="layui-hide" id="student"></table>
</div>
<!-- 工具栏模板 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete_many">删除</button>
    </div>
</script>

<!-- 表头某列 templet 属性指向的模板 -->
<script type="text/html" id="tools">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--###编辑-->

<form class="layui-form" action="" id="form_edit" lay-filter="form_edit" style="margin-top: 20px;display: none">
    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" lay-verify="required" autocomplete="off" placeholder="请输入"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <select name="gender" lay-verify="required">
                <option value=""></option>
                <option value="M">男</option>
                <option value="F">女</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级</label>
        <div class="layui-input-block">
            <select name="class_name" lay-verify="required">
                <option value=""></option>
                <option value="一班">一班</option>
                <option value="二班">二班</option>
                <option value="三班">三班</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="mobile" lay-verify="required|phone" autocomplete="off" placeholder="请输入"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <textarea name="address" class="layui-textarea" placeholder="请输入地址"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="create_at" id="create-at"
                       placeholder="" autocomplete="off" lay-verify="required">
            </div>
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">禁用</label>
        <div class="layui-input-block">
            <input type="checkbox" name="disable" lay-skin="switch" lay-filter="switchTest" title="是|否">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit lay-filter="edit-commit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!-- 单个修改推荐 -->
<script type="text/html" id="TPL-dropdpwn-demo">
    <button class="layui-btn layui-btn-sm layui-btn-primary dropdpwn-demo">
        <span>{{ "{{= d.class_name }}"|safe }}</span>
        <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
</script>
<script src="/static/layui.js"></script>
<script>

    function render_disable(d) {
    return `<input type="checkbox" name="disable" value="${d.id}" title="是|否" lay-skin="switch" ${d.disable ? 'checked' : ''} lay-filter="switch-disable"/>`
}
    // 修改提交的方法
    const change_student = async (id, data) => {
        const options = {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        }
        const response = await fetch(`/api/student/${id}`, options)
        return await response.json()
    }
    const change_student_class_name = async (id, data) => {
    const options = {
        method: 'PUT',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(data)
    }
    const response = await fetch(`/api/student/${id}/class_name`, options)
    return await response.json()
}

    layui.use(function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var laydate = layui.laydate;
        var dropdown = layui.dropdown;
    function render_gender(d) {
        if (d.gender === 'M') {
            return '<span style="color: blue">♂</span>';
        } else {
            return '<span style="color: pink">♀</span>';
        }
}
        // 已知数据渲染
        var inst = table.render({
            elem: '#student',
            id: 'student',
            url: '/api/student',
            toolbar: '#toolbar',

            cols: [
                [   // 标题栏
                    {field: 'id', title: 'ID', width: 60, sort: true},
                    {field: 'name', title: '姓名', width: 100},
                    {field: 'gender', title: '性别', width: 60,templet: render_gender},
                    {field: 'class_name', title: '班级', width: 120, templet: '#TPL-dropdpwn-demo'},
                    {field: 'mobile', title: '手机', width: 120},
                    {field: 'address', title: '地址', minWidth: 160, edit: 'textarea'},
                    {field: 'create_at', title: '创建时间', width: 200},
                    {field: 'disable', title: '禁用', width: 100, templet: render_disable},
                    {field: 'is_del', title: '删除', width: 80},
                    {title: '操作', width: 120, templet: '#tools'}
                ]],
            page: true,

                // 表格渲染完之后再在里面渲染下拉框
            done: function (res, curr, count) {
                var options = this;
                // 获取当前行数据
                table.getRowData = function (elem) {
                    var index = $(elem).closest('tr').data('index');
                    return table.cache[options.id][index] || {};
                };
                // dropdown 方式的下拉选择
                dropdown.render({
                    elem: '.dropdpwn-demo',
                    // trigger: 'hover',
                    // 此处的 data 值，可根据 done 返回的 res 遍历来赋值
                    data: [{
                        title: '一班',
                        id: 100
                    }, {
                        title: '二班',
                        id: 101
                    }, {
                        title: '三班',
                        id: 102
                    }],
                    click: function (obj) {
                        var data = table.getRowData(this.elem); // 获取当前行数据(如 id 等字段，以作为数据修改的索引)

                        this.elem.find('span').html(obj.title);
                        // 更新数据中对应的字段
                        data.class_name = obj.title;
                        // 显示 - 仅用于演示
                        // layer.msg('选中值: ' + obj.title + '<br>当前行数据：' + JSON.stringify(data));
                        change_student_class_name(data.id, {'class_name': data.class_name}).then(function (ret) {
                            if (!ret.code) {
                                layer.msg(ret.msg, {
                                    icon: 1,
                                    time: 1000,
                                });
                            } else {
                                layer.msg(ret.msg, {
                                    icon: 2,
                                    time: 1000,
                                }, function () {
                                    table.reload('student');
                                });
                            }
                        })

                    }
                });



                // 单元格普通编辑事件
                table.on('edit(student)', function (obj) {
                    var value = obj.value // 得到修改后的值
                    var data = obj.data // 得到所在行所有键值
                    var field = obj.field; // 得到字段

                    var send_data = {}
                    send_data[field] = value

                    const change_student_class_name = async (id, data) => {
                        const options = {
                            method: 'PUT',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(data)
                        }
                        const response = await fetch(`/api/student/${id}/address`, options)
                        return await response.json()
                    }

                    change_student_class_name(data.id, send_data).then(function (ret) {
                        if (!ret.code) {
                            layer.msg(ret.msg, {
                                icon: 1,
                                time: 1000,
                            });
                        } else {
                            layer.msg(ret.msg, {
                                icon: 2,
                                time: 1000,
                            }, function () {
                                table.reload('student');
                            });
                        }
                    })
                });
            }
        });
        // 头部工具栏事件
        table.on('toolbar(student)', function (obj) {
            var options = obj.config; // 获取当前表格属性配置项
            var checkStatus = table.checkStatus(options.id); // 获取选中行相关数据

            // 根据不同的事件名进行相应的操作
            switch (obj.event) { // 对应模板元素中的 lay-event 属性值
                case 'add':
                    window.show_add()
                    break;
                case 'delete_many':
                    window.delete_many(obj)
                    break;
            }
        });

        window.show_add = function () {
            layer.open({
                type: 2,
                title: '新增学员',
                shadeClose: true,
                maxmin: true, //开启最大化最小化按钮
                area: ['900px', '600px'],
                content: '/student_add'
        });
        }

        window.delete_many = function (obj) {
            layer.msg('批量删除');
        }
        // 单元格工具事件
        table.on('tool(student)', function (obj) {
            var layEvent = obj.event; // 获得元素对应的 lay-event 属性值
            if (layEvent === 'edit') { //编辑
                window.show_edit(obj)
            } else if (layEvent === 'del') { //删除
                layer.confirm('确定删除吗？', function (index) {
                    layer.close(index);
                    window.del_student(obj)
                });
            }
        });
        // 日期时间选择器
        laydate.render({
            elem: '#create-at',
            type: 'datetime'
        });

        window.show_edit = (obj) => {
            console.log(obj.data)
            form.val('form_edit', obj.data);
            layer.open({
                type: 1,
                area: ['900px', '600px'],
                content: $('#form_edit'), // 捕获的元素
            });
        }
        // 删除提交的方法
        const del_student_api = async (id) => {
            const options = {
                method: 'DELETE',
                headers: {'Content-Type': 'application/json'},
            }
            const response = await fetch(`/api/student/${id}`, options)
            return await response.json()
        }
        window.del_student = (obj) => {

            del_student_api(obj.data.id).then(function (ret) {
            // 提交成功之后的回调
                if (!ret.code) {
                    layer.msg(ret.msg, {
                        icon: 1,
                        time: 1000,
                    }, function () {
                        table.reload('student');
                    });
                } else {
                    layer.msg(ret.msg, {
                        icon: 2,
                        time: 1000,
                    });
                }
            })
        }

        // 提交事件
        form.on('submit(edit-commit)', function (data) {
            var field = data.field; // 获取表单字段值
            // console.log(field)
            // 此处可执行 Ajax 等操作
            field.disable = field?.disable ? true : false

            change_student(field.id, field).then(function (ret) {

                // 提交成功之后的回调
                if (!ret.code) {
                    layer.msg(ret.msg, {
                        icon: 1,
                        time: 1000,
                    }, function () {
                        layer.closeAll('page');
                        table.reload('student');
                    });
                } else {
                    layer.msg(ret.msg, {
                        icon: 2,
                        time: 1000,
                    });
                }
            })

            return false; // 阻止默认 form 跳转
        });

        form.on('switch(switch-disable)', function (obj) {
            var value = this.value;
            var name = this.name;

            const send_data = {}
            send_data[name] = !!obj.elem.checked

            const change_student_disable = async (id, data) => {
                const options = {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }
                const response = await fetch(`/api/student/${id}/disable`, options)
                return await response.json()
            }

            change_student_disable(value, send_data).then(function (ret) {
                if (!ret.code) {
                    layer.msg(ret.msg, {
                        icon: 1,
                        time: 1000,
                    });
                } else {
                    layer.msg(ret.msg, {
                        icon: 2,
                        time: 1000,
                    }, function () {
                        table.reload('student');
                    });
                }
            })
        })

        // 搜索提交
        form.on('submit(table-search)', function (data) {
            var field = data.field; // 获得表单字段
            // 执行搜索重载
            table.reload('student', {
                page: {
                    curr: 1, // 重新从第 1 页开始
                },
                where: field, // 搜索的字段
            });
            return false; // 阻止默认 form 跳转
        });
    });
</script>
</body>
</html>